<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.miao.ncncdtestdemo"
    android:versionCode="5"
    android:versionName="1.0.5" >
 <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 健康界面 -->
         <activity
            android:name=".HealthActivity"
            android:screenOrientation="portrait">
        </activity>
        
         <!-- 血糖界面 -->
        <activity
            android:name=".BloodSugarActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 血压界面 -->
        <activity
            android:name=".BloodPressureActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 血氧界面 -->
        <activity
            android:name=".BloodOxygenActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 运动界面 -->
        <activity
            android:name=".SportActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 睡眠界面 -->
        <activity
            android:name=".SleepActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 心率界面 -->
        <activity
            android:name=".HeartRateActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 体温界面 -->
        <activity
            android:name=".TemperatureActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 注册界面 -->
       <activity
            android:name="cn.miao.ncncd.vm.NcncdRegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 协议网页界面 -->
        <activity
            android:name="cn.miao.ncncd.vm.NcncdWebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!--配置接口地址-->
        <meta-data
            android:name="NCNCD_HTTP_URL"
            android:value="http://118.190.93.145:8026"/>

       <!--设置appKey、appSecret-->
        <meta-data
            android:name="NCNCD_APPKEY"
            android:value="a808e7a5debb16b1587c6c357db44f85"
            />
        <meta-data
            android:name="NCNCD_APPSECRET"
            android:value="8a73ce716e13c9b1b4af42b5f486c557"
            />
        
    </application>

</manifest>
